// bootstrap Custom variables
@import 'custom2';
@import "../bootstrap/scss/bootstrap";







@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    font-display: fallback;
    src:
        local(NotoSansKR-Light),
        url(http://wdr.ubion.co.kr/common/fonts/noto/NotoSansKR-Light.woff2) format('woff2'), /* 압축률이 가장 높음(30%), IE에서 지원 X */
        url(http://wdr.ubion.co.kr/common/fonts/noto/NotoSansKR-Light.woff) format('woff'), /* 모든브라우저 지원 O */
        url(http://wdr.ubion.co.kr/common/fonts/noto/NotoSansKR-Light.ttf) format('truetype'), /* Android, iOS, 압축 x */
        url(http://wdr.ubion.co.kr/common/fonts/noto/NotoSansKR-Light.eot) format('eot'); /* IE8 이하*/
    }

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
    src:
        local(NotoSansKR-Regular),
        url(http://wdr.ubion.co.kr/common/fonts/noto/NotoSansKR-Regular.woff2) format('woff2'),
        url(http://wdr.ubion.co.kr/common/fonts/noto/NotoSansKR-Regular.woff) format('woff'),
        url(http://wdr.ubion.co.kr/common/fonts/noto/NotoSansKR-Regular.ttf) format('truetype'),
        url(http://wdr.ubion.co.kr/common/fonts/noto/NotoSansKR-Regular.eot) format('eot');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: bold;
    font-display: fallback;
    src:
        local(NotoSansKR-Bold),
        url(http://wdr.ubion.co.kr/common/fonts/noto/NotoSansKR-Bold.woff2) format('woff2'),
        url(http://wdr.ubion.co.kr/common/fonts/noto/NotoSansKR-Bold.woff) format('woff'),
        url(http://wdr.ubion.co.kr/common/fonts/noto/NotoSansKR-Bold.ttf) format('truetype'),
        url(http://wdr.ubion.co.kr/common/fonts/noto/NotoSansKR-Bold.eot) format('eot');
}





/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
  background: #fff;
  color: #666666;
  font-family: '나눔고딕', 'Nanum Gothic',  sans-serif, '돋음', 'dotum';
  overflow-x: hidden;
  word-break: keep-all;
}

.fonts_loaded body {
  font-family: 'Noto Sans KR', '나눔고딕', 'Nanum Gothic',  sans-serif, '돋음', 'dotum';
}

a {
  color: $primary;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #1dc9ce;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/* Back to top button */

.back-to-top {
  position: fixed;
  display: none;
  background: linear-gradient(45deg, $primary, #b462de);
  color: #fff;
  /*padding: 2px 20px 8px 20px;*/
  font-size: 16px;
  border-radius: 4px 4px 0 0;
  right: 30px;
  bottom: 30px;
  transition: none;
  border-radius: 50% !important;
  width: 50px !important;
  height: 50px !important;
  display: block !important;
  padding: 10px 0 0 0 !important;
  text-align: center !important;
}

.back-to-top:focus {
  background: linear-gradient(45deg, $primary, #b462de);
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  background: $primary;
  color: #fff;
}


/* Blind */
.ir_pm {
    display:block; overflow:hidden; margin: 0; padding: 0; font-size:0; line-height:0; text-indent:-9999px;
}




/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
  padding: 30px 0;
  height: 92px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

#header #logo {
  float: left;
}

#header #logo h1 {
  font-size: 36px;
  margin: -4px 0 0 0;
  padding: 0;
  line-height: 1;
  display: inline-block;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header #logo h1 a,
#header #logo h1 a:hover {
  color: #fff;
}

#header #logo img {
  padding: 0;
  margin: 0;
  width: 100px;
}

#header.header-fixed {
  background: linear-gradient(45deg, $primary, rgba(180, 98, 222, 1));
  padding: 20px 0;
  height: 72px;
  transition: all 0.5s;
  border-bottom: none;
}





/*--------------------------------------------------------------
# 인트로
--------------------------------------------------------------*/

#intro {
  overflow: hidden !important;
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, $primary, rgba(180, 98, 222, 0.8)), url("../img/dot.png") center top no-repeat;
  background-size: cover;
  position: relative;
}

#intro .intro-text {
  position: absolute;
  left: 0;
  top: 250px;
  right: 0;
  height: calc(50% - 60px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 996;
  width: 100%;
  text-align: left;
}

#intro .container {
  position: relative;
}

#intro .intro_text_box {
  position: absolute;
  top: 470px;
  left: 0;
  z-index: 996;
}

#intro .intro_text_box p {
  color: #fff;
  margin-bottom: 20px;
  padding: 0 15px;
  font-size: 50px;
  letter-spacing: -3px;
}

#intro .btn_wrap {

}

#intro .btnn {
  float: left;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

#intro .btnn:hover {
  color: $primary;
  background: #fff;
}

#intro .product-screens {
  position: absolute;
  right: 0;
  top: 300px;
  overflow: hidden;
  text-align: center;
  width: 50%;
  height: 100%;
}

#intro .product-screens img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  opacity: 0.7;
}

#intro .product-screens .product-screen-1 {
  position: absolute;
  z-index: 30;
  left: calc(50% + -137px);
  bottom: 0;
  top: 30px;
}
#intro .product-screens .product-screen-1 img {
  width: 220px;
  height: 220px;
}

#intro .product-screens .product-screen-2 {
  position: absolute;
  z-index: 20;
  left: calc(50% - -28px);
  bottom: 0;
  top: 171px;
}
#intro .product-screens .product-screen-2 img {
  width: 150px;
  height: 150px;
}

#intro .product-screens .product-screen-3 {
  position: absolute;
  z-index: 10;
  left: calc(50% - 190px);
  bottom: 0;
  top: 266px;
}
#intro .product-screens .product-screen-3 img {
  width: 180px;
  height: 180px;
}

#intro video {
  width: 100%;
  /*height: 100vh !important;*/
  position: absolute;
  /*top: 50%*/;
  /*left:  50%;*/
  /*transition: translate(-50%, -50%);*/
  opacity: 0.2;
}




/*--------------------------------------------------------------
# 네비게이션
--------------------------------------------------------------*/

/* Nav Menu Essentials */

.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */

.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */

#nav-menu-container {
  float: right;
  margin: 0;
}

/* Nav Meu Styling */

.nav-menu a {
  padding: 0 8px 10px 8px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-weight: 400;
  outline: none;
}

.nav-menu > li {
  margin-left: 10px;
}

.nav-menu ul {
  margin: 4px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
}

.nav-menu ul li {
  transition: 0.3s;
}

.nav-menu ul li a {
  padding: 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 13px;
  text-transform: none;
}

.nav-menu ul li:hover > a {
  color: $primary;
}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */

#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 20px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #fff;
}

/* Mobile Nav Styling */

#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 120px;
  bottom: 0;
  z-index: 998;
  background: $primary;
  left: -267px;
  width: 267px;
  overflow-y: auto;
  transition: 0.4s;
  text-align: center;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 25px;
  overflow: hidden;
  padding: 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
}

#mobile-nav ul li a:hover {
  color: #fff;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: $primary;
}

#mobile-nav ul .menu-item-active {
  color: $primary;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(52, 59, 64, 0.9);
  display: none;
}

/* Mobile Nav body classes */

body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}





/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

/* Sections Header
--------------------------------*/

.section-header .section-title {
  font-size: 32px;
  color: #111;
  text-align: center;
  font-weight: 400;
}

.section-header .section-description {
  text-align: center;
  padding-bottom: 40px;
  color: #777;
  font-style: normal;
}

.section-header .section-divider {
  display: block;
  width: 60px;
  height: 3px;
  background: $primary;
  background: linear-gradient(0deg, $primary 0%, #b462de 100%);
  margin: 0 auto;
  margin-bottom: 20px;
}

/* Section with background
--------------------------------*/

.section-bg {
  background: #f5f5f5;
}








/* 1. 소개
--------------------------------*/

#advance {
  overflow: hidden;
}

#advance .features-row {
  padding: 60px 0 30px 0;
}

#advance .features-row .img_wrap {}
#advance .features-row .txt_wrap {
  padding: 100px 20px 0 20px;
}

#advance h2 {
  font-size: 26px;
  font-weight: 700;
  color: #000;
}

#advance h3 {
  font-size: 40px;
  line-height: 24px;
  font-weight: 400;
  color: #333;
}

#advance p {
  line-height: 24px;
  color: #777;
  margin-bottom: 30px;
}

#advance i {
  color: #666666;
  font-size: 64px;
  transition: 0.5s;
  float: left;
  padding: 0 15px 0px 0;
  line-height: 1;
}

#advance i:before {
  background: $primary;
  background: linear-gradient(45deg, $primary 0%, #b462de 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#advance .advanced-feature-img-right {
  max-width: 100%;
  float: right;
  padding: 0 0 30px 30px;
}

#advance .advanced-feature-img-left {
  max-width: 100%;
  float: left;
  padding: 0 30px 30px 0;
}

#advance a {
  margin: 0 0 20px 0;  
  border-radius: 20px;
  padding: 8px 20px;  
  text-align: center;
  font-size: 14px;
  border: 1px solid $primary;
  color: $primary;
}

#advance a:hover {
  background: $primary;
  color: #fff;

}







/* 2. 교육과정
--------------------------------*/

#curriculum {
  padding: 60px 0 60px 0;
  overflow: hidden;
  background-color: #45515f;
}

#curriculum h2.section-title{
  color: #fff;
}

#curriculum .box {
  padding: 40px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
  background: #fff;
  text-align: center;
}

#curriculum h3 {
  font-weight: 400;
  margin-bottom: 15px;
  font-size: 28px;
  color:#111;
}

#curriculum h3 span.subject {
  display: block;
  font-weight: bold;
  color: $primary;
}
#curriculum h3 span.class {}

#curriculum p.section-description {
  color: #fff;
}

#curriculum span.section-divider {
  background: #fff;
}

#curriculum ul {
  padding: 0;
  list-style: none;
  color: #333;
  text-align: center;
  line-height: 20px;
}

#curriculum ul li {
  display: inline-block;
  padding-right: 10px;
}

#curriculum ul i {
  color: $primary;
  font-size: 18px;
  padding-right: 4px;
}

#curriculum .btn_go {
  
  display: inline-block;
  padding: 6px 30px;
  border-radius: 20px;  
  border: 1px solid $primary;
  transition: none;
  font-size: 14px;
  font-weight: 400;
  background: #fff;
  border: 1px solid;
  color: $primary;
  transition: 0.5s;
}

#curriculum a.btn_go:hover {
  background: $primary;
  color: #fff;
  border: 1px solid $primary;
}

#curriculum .featured {
  border: 2px solid $primary;
}

#curriculum .featured .get-started-btn {
  background: linear-gradient(45deg, $primary, #b462de);
}






/* 3. 기능/서비스
--------------------------------*/

#service {
  padding: 60px 0 60px 0;
  overflow: hidden;
  background: #f5f5f5;
}

#service .box {
  height: 240px;
  padding: 50px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.2);
  background: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

#service .icon {
  /*float: left;*/
  text-align: center;

}

#service .icon i {
  color: #666666;
  font-size: 80px;
  transition: 0.5s;
  line-height: 0;
}

#service .icon img {
  width: 50px;
  margin: 0 auto 10px;
}

#service .icon i:before {
  background: $primary;
  background: linear-gradient(45deg, $primary 0%, #b462de 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#service h3 {
  font-weight: 400;
  margin-bottom: 15px;
  font-size: 22px;
  text-align: center;
}

#service h3 a {
  color: #111;
}

#service p {
  margin-bottom: 0;
  line-height: 24px;
  text-align: center;
  font-weight: 300;
}












/* 4. 고객사1
--------------------------------*/
#review {
  overflow: hidden;
  background:  url(../img/review-bg.jpg) fixed center center;
  background-size: cover;
  padding: 30px 0 0;
}

#review .cta-title {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

#review .cta-text {
  color: #fff;
}

#review .cta-btn {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 25px;
  transition: background 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

#review .cta-btn:hover {
  background: $primary;
  border: 2px solid $primary;
}


#review #myCarousel .carousel-caption {
  bottom: 35px !important;
}
#review #myCarousel .carousel-inner {
  /*background: rgba(255, 255, 255, 0.3) !important;*/
}
#review #myCarousel .carousel-item {
  height: 16rem !important;
}
#review #myCarousel .carousel-control-next, .sc_01 .carousel-control-prev {
  height: 16rem !important;
}
#review #myCarousel .carousel-caption img {
  width: 50px;
  display: block;
  margin: 0 auto;
}

#review #myCarousel .carousel-caption strong {
  display: inline-block;  
  padding-bottom: 15px; 
  font-size: 25px;
}
#review #myCarousel .carousel-caption p {
  margin: 0 !important;
  padding: 15px 40px !important;
  font-size: 19px;
  color: #333;
}
#review #myCarousel .carousel-caption span {  
  font-size: 14px;
  color: #333;
}





/* 4. 고객사2
--------------------------------*/

#clients {
  padding: 30px 0;
  background: rgba(255, 255, 255, 0.3);
  overflow: hidden;
}

#clients img {
  max-width: 100%;
  opacity: 0.5;
  transition: 0.3s;
  padding: 15px 0;
}

#clients img:hover {
  opacity: 1;
}





/* 5. 문의
--------------------------------*/

#contact {
  /*box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);*/
  border-top: 1px solid #bed7ff;
  border-bottom: 1px solid #bed7ff;
  padding: 60px 0;
  overflow: hidden;
}

#contact .contact-about h3 {
  font-size: 36px;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: $primary;
}

#contact .contact-about p {
  color: #888;
}

#contact .social-links {
  padding-bottom: 20px;
}

#contact .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #fff;
  color: $primary;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  border: 1px solid $primary;
}

#contact .social-links a:hover {
  background: $primary;
  color: #fff;
}

#contact .info {
  color: #333333;
}

#contact .info i {
  font-size: 32px;
  color: $primary;
  float: left;
  line-height: 1;
}

#contact .info p {
  padding: 0 0 10px 42px;
}


#contact .form input,
#contact .form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

#contact .btn_wrap a {
  display: block;
  margin: 0 0 20px 0;  
  border-radius: 20px;
  padding: 8px 0;  
  text-align: center;
  border: 1px solid $primary;
  color: $primary;
}

#contact .btn_wrap a:hover {
  background: $primary;
  color: #fff;
}

#contact a.logo img {
  width: 100px;
}










/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
  background: #fff;
  padding: 30px 0;
  color: #333;
  font-size: 14px;
}

#footer .credits {
  font-size: 13px;
  color: #888;
}

#footer .footer-links a {
  color: #666;
  padding-left: 15px;
}

#footer .footer-links a:first-child {
  padding-left: 0;
}

#footer .footer-links a:hover {
  color: $primary;
}









@media (min-width: 769px) {
  #features .features-img {
    padding-top: 120px;
    margin-top: -200px;
  }

  #review .cta-btn-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}

@media (min-width: 1025px) {
  #intro {
    background-attachment: fixed;
  }


}



@media (max-width: 768px) {
  #header #logo h1 {
    font-size: 28px;
    margin-top: 0;
  }

  #header #logo img {
    max-height: 40px;
  }

  #intro h2 {
    font-size: 28px;
    line-height: 36px;
  }

  #intro p {
    font-size: 20px !important;
    line-height: 28px !important;
    margin-bottom: 20px;
    letter-spacing: -1px !important;
    text-align: center;
  }



  #intro video {
    display: none;
  }

  #intro .product-screens {
    display: none;
  }

  #intro .product-screens .product-screen-1 {
    position: static;
    padding-top: 30px;
  }

  #intro .product-screens .product-screen-2,
  #intro .product-screens .product-screen-3 {
    display: none;
  }

  #intro .intro_text_box {
    top: 200px;
    width: 100%;
  }

  #intro .btn_wrap {
    text-align: center;
  }

  #intro .btn_wrap a.btnn {
    display: inline-block;
    float: none;
  }

  #nav-menu-container {
    display: none;
  }

  #mobile-nav-toggle {
    display: inline;
  }

  #about .about-img {
    height: auto;
  }

  #about .about-img img {
    margin-left: 0;
    padding-bottom: 30px;
  }

  #advance .advanced-feature-img-right,
  #advance .advanced-feature-img-left {
    max-width: 50%;
  }

  #faq #faq-list a {
    font-size: 18px;
  }

  #faq #faq-list i {
    top: 13px;
  }
  

  #advance .advanced-feature-img-right,
  #advance .advanced-feature-img-left {
    max-width: 100%;
    float: none;
    padding: 0 0 30px 0;
  }

  #service .box {
    margin-bottom: 20px;
    height: auto;
  }

  #service .icon {
    float: none;
    text-align: center;
    padding-bottom: 15px;
  }

  #service h4,
  #service p {
    margin-left: 0;
    text-align: center;
  }

  #mobile-nav {
    left: -1000px;
    width: 100%;
  }

}








